td {
    width: 500px
}

img {
    width: 100%
}

#leftbox {
    text-align: center;
    background-color: #999999;
}



h3 {
    color: #252b3b;
    font-size: 1.5em;
    font-family: fantasy
}

p {
    color: #555;
}

nav {
    align-content: center;
    font-family: fantasy;
    font-weight: lighter;
    color: #252b3b;
    text-decoration: none;
    
    
    
}

nav a {
    color:#555;
    text-decoration: none;
    font-size: 1.6em;
    }

body {
    background: black;
}

h1 {
    font-family: fantasy;
    color: #252b3b;
}


