td {
    width: 500px
}

img {
    width: 100%
}

#leftbox {
    text-align: center;
    background-color: #999999;
}

#rightbox {
    text-align: center;
    background-color: #999999;
}

h3 {
    color: #252b3b;
    font-size: 1.5em;
    font-family: fantasy
}

p {
    color: #555
}

nav {
    align-content: center;
    font-family: fantasy;
    font-weight: bold;
    color: #252b3b;
    text-decoration: none;
    padding: 5px;
}

body {
    background: black;
}

h1 {
    font-family: fantasy;
    color: #252b3b;
}

#rightbox {
    width: 400px
}
