body {
    width: 80%;
    margin: auto;
}

h1 {
    text-align: center;
    color: white;
    background-color: black;
    margin;
    0px;
    padding: 15px;
    font-family: Arial;
    font-size: 50px;
}

#hero img {
    width: 100%;
}

#about-us {
    margin: 10px auto;
    text-align: center;
}

h2 {
    font-size: 4em;
    text-align: center;
    font-family: Arial;
    padding-top: 30px;
    padding-bottom: 30px;
}

p {
    font-family: Arial;
    font-size: 1.4em;
    align-content: center;
    text-align: left;
    width: 80%;
    padding-left: 100px
}

#images {
    text-align: center;
    overflow: auto;
}

#images div {
    align-content: center;
    margin: auto 20px;
    float: left;
    padding: 0 6%
}

#flag {
    height: 200px;
    width: 200px;
}

#scoot {
    height: 200px;
    width: 200px;
}

#mount {
    height: 200px;
    width: 200px;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    #images div {
        padding: 20px;
        text-align: center;
        margin-left: 80px
    }
    #flag {
        height: 130px;
        width: 130px;
    }
    #scoot {
        height: 130px;
        width: 130px;
    }
    #mount {
        height: 130px;
        width: 130px;
    }
    .clearfix:after {
        content: '';
        display: block;
        clear: both;
    }
}

@media screen and (max-width: 768px) {
    #images div {
        padding: 9px;
        align-content: center;
        margin: 0 auto;
        image-rendering: auto;
    }
    #flag {
        height: 100px;
        width: 100px;
    }
    #scoot {
        height: 100px;
        width: 100px;
    }
    #mount {
        height: 100px;
        width: 100px;
    }
    p {
        padding-left: 50px
    }
    .clearfix:after {
        content: '';
        display: block;
        clear: both;
    }
}
