body {
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: white;
    background-color: black;
    margin;
    0px;
    padding: 15px;
    font-family: Arial;
    font-size: 50px;
}

#hero img {
    width: 100%;
}

#about-us {
    margin: 10px auto;
    text-align: center;
}

h2 {
    font-size: 4em;
    text-align: center;
    font-family: Arial;
    padding-top: 30px;
    padding-bottom: 30px;
}

p {
    font-family: Arial;
    font-size: 1.4em;
    align-content: center;
    text-align: left;
    width: 80%;
    padding-left: 100px
}

#images {
    text-align: center;
    overflow: auto;
}

#images div {
    align-content: center;
    margin: auto 0;
    float: left;
    padding: 0 6%
}

#flag {
    height: 200px;
    width: 200px;
}

#scoot {
    height: 200px;
    width: 200px;
}

#mount {
    height: 200px;
    width: 200px;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #images div {
        padding: 0 3%;
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    #images div {
        padding: 0 1%
    }
    #flag {
        height: 100px;
        width: 100px;
    }
    #scoot {
        height: 100px;
        width: 100px;
    }
    #mount {
        height: 100px;
        width: 100px;
    }
}
