body {
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: white;
    background-color: black;
    margin;
    0px;
    padding: 15px;
    font-family: Arial;
    font-size: 50px;
}

#hero div {
    height: 391px;
    background-image: url(img/pizza.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

#about-us {
    margin: 10px auto;
    text-align: center;
}

h2 {
    font-size: 4em;
    text-align: center;
    font-family: Arial;
    padding-top: 30px;
    padding-bottom: 30px;
}

p {
    font-family: Arial;
    font-size: 1.4em;
    text-align: left;
    margin-left: 200px;
    padding-right: 200px
}

#images div {
    align-content: center;
    margin: auto 0;
    float: left;
    padding: 40px 6.5%;
    margin-bottom: 100px;
}

#flag {
    height: 220px;
    width: 220px;
}

#scoot {
    height: 220px;
    width: 220px;
}

#mount {
    height: 220px;
    width: 220px;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
