html,
body {
    height: 100%;
}

.title-5em {
    font-size: 2em;
    color: #fff;
    font-family: times;
    font-weight: lighter;
    padding-bottom: 30px
}

.btn-action {
    padding: 15px 25px;
    border: 1px solid #fff;
    color: #fff;
}

.btn-action:hover {
    background: #000;
    color: #fff;
    text-decoration: none;
}

main {
    margin-top: 50px;
}

#hero {
    background: linear-gradient(to bottom, rgba(20, 20, 20, 0.7) 0%, rgba(0, 0, 0, 0.1) 100%), url(../img/maxresdefault.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0;
    text-align: center;
    height: 600px;
}

#hero h1 {
    font-family: times;
    font-size: 10em;
    text-transform: uppercase;
    color: white;
    text-shadow: 3px 4px 6px rgba(0, 0, 0, 0.5);
}

#map iframe {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

#info .mkxvi {
    margin-top: 22%;
}

#info {
    padding: 0px 0;
}

#info p {
    line-height: 24px;
}

#watches {
    padding-top: 40px;
}

#skyplane {
    background-image: url(../img/collapsed_background.aab9f24da8b8047b077e2dc92f2247c2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    padding: 120px 0;
}

h5 {
    font-size: 4em;
    color: #fff;
    font-weight: 100;
    padding-bottom: 50px
}

h2 {
    font-family: times;
}

h4 {
    font-family: times;
    font-weight: bold
}

#skyplane a {
    font-size: 2em;
    color: #fff;
    font-weight: 100;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

#skyplane a {
    margin-left: 15px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #info .mkxvi {
        margin-top: 110px;
        height: 250px;
    }
}

@media only screen and (max-width: 768px) {
    #hero {
        margin-bottom: 15px;
    }
    #hero h1 {
        font-size: 6em;
        font-family: times;
    }
    #info .mkxvi {
        margin-top: 5%;
    }
    .title-5em {
        font-size: 20px;
        font-weight: 100;
    }
    #skyplane {
        height: 100px
    }
    #skyplane a {
        font-size: 1.3em;
        color: #fff;
        font-family: times;
    }
    #skyplane h5 {
        font-size: 2em;
        color: #fff;
        font-weight: 100;
        padding: 0;
    }
}
