body {
    font-family: Helvetica, Arial, freesans, sans-serif;
}

header,
main,
footer {
    width: 1024px;
    margin: auto;
    font-family: Helvetica, Arial, freesans;
}

header {
    background-color: #0071c5;
    padding: 10px;
    color: white;
}

#h1 header {
    font-weight: 100;
    font-size: 60px;
    color: #fff;
}

.nav-link {
    color: #fff;
    font-size: 25px;
    margin-right: 15px;
}

main < h2 {
    font-size: 28px;
    font-weight: 200;
    background: #d9d9d9;
}

main aside h3 {
    font-size: 24px;
    font-weight: 200;
    background: #555;
}

main > p {
    font-size: 16px;
    color: #555;
}

body html aside {
    background-color: #f3f3f3;padding: 15px;
}

*.my-footer {
    padding: 15px;
}

aside {background-color: darkgrey}