#insight {
    margin-bottom: 1em;
    font-size: 20px;
}

#technology {
    color: white;
    background: #4c4c4c;
    padding: 1em;
}

#stories {
    font-weight: bold;
    font-size: 2.5em;
}

.link {
    color: black;
    padding-top: 20px;
    font-size: 1.2em;
}

.link a {
    color: black;
    font-weight: bold;
}

.footer {
    background: #4c4c4c;
    color: white;
    margin-top: 2em;
    padding: 1em 0 1em 3em;
}

.footer a {
    color: white;
    margin-top: 5%
}

.line {
    width: 6.5em;
    border-bottom: 1px solid white;
    margin: 0.5em 0 0.5em 0;
}

li {
    list-style: none;
}

#facebook {
    width: 20px;
    margin-left: 2%;
}

#twitter {
    width: 20px;
    margin-left: 8.1%
}
