body {
    font-family: 'roboto', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    height: 25px;
    padding: 10px 0px;
}

header h1 {
    font-size: 1.7em;
    float: left;
    font-weight: lighter;
}

header nav {
    float: right;
}

header nav a {
    font-size: 1.4em;
    margin-left: 20px;
    text-decoration: none;
    color: #000;
}

header nav a:hover {
    text-decoration: underline;
}

#hero {
    background-image: url(../img/maxresdefault.jpg);
    background-repeat: no-repeat;
    height: 400px;
    background-position: center;
    background-size: cover;
}

h2 {
    font-family: Times-new-roman;
    text-align: center;
    padding-top: 140px;
    font-size: 5em;
    color: white;
}

#hero p {
    color: lightgray;
    padding-left: 250px;
    padding-bottom: 30px
}

#hero a {
    text-align: center;
    color: white;
    font-size: 2em;
    font-weight: lighter;
    margin-left: 412px;
    text-decoration: none;
    border: solid 1px;
    padding: 10px
}

#welcome img {
    float: left;
    width: 46%;
    Padding-top: 12px;
}

#welcome h3 {
    font-family: Times-new-roman;
    text-align: center;
    font-size: 1.4em;
    padding-top: 100px
}

#welcome p {
    padding-top: 9px;
    padding-left: 520px;
    padding-bottom: 46px
}

.clear-fix:after {
    content: '';
    display: block;
    clear: both;
}

#watches div {
    height: 400px;
    padding-top: 14px;
    padding-bottom: 50px;
    float: left;
    text-align: center;
    align-content: center;
    width: 25%;
}

#watches img {
    width: 90%;
}

#schematic div {
    float: left;
    width: 400px;
    height: 280px;
    align-content: center;
    margin-left: 40px;
    background-color: #e6e6e6;
    padding-bottom: 44px
}

#div-left {
    text-align: center;
}

#left {
    width: 400px;
    height: 260px;
}

#div-right {
    text-align: center;
    margin-left: 40px;
}

#right {
    width: 400px;
    height: 260px;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

#skyplane {
    margin-top: 350px;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(20, 20, 20, 0.7) 0%, rgba(0, 0, 0, 0.4) 100%), url(../img/collapsed_background.aab9f24da8b8047b077e2dc92f2247c2.jpg)
}

h5 {
    font-family: Times-new-roman;
    font-size: 2.9em;
    text-align: center;
    color: white;
    padding-top: 130px;
    padding-bottom: 40px
}

#skyplane a {
    color: white;
    margin-top: 40px;
    margin-left: 12px;
    font-size: 1.7em;
    text-decoration: none;
    padding: 6px;
    position: relative;
    font-family: Times;
}
